.image-center {
  text-align: center;
}
  
.vt-doc picture {
  display: block;
  margin-bottom: 1.2em;
}

.image-150 {
  text-align: center;
  margin-top: 15px;
}

.image-150 img {
  width: 150px;
  max-width: 100%;
  display: inline-block;
}

.image-200 {
  text-align: center;
  margin-top: 15px;
}

.image-200 img {
  width: 200px;
  max-width: 100%;
  display: inline-block;
}

.image-250 {
  text-align: center;
  margin-top: 15px;
}

.image-250 img {
  width: 250px;
  max-width: 100%;
  display: inline-block;
}

.image-300 {
  text-align: center;
  margin-top: 15px;
}

.image-300 img {
  width: 300px;
  max-width: 100%;
  display: inline-block;
}

.image-350 {
  text-align: center;
  margin-top: 15px;
}

.image-350 img {
  width: 350px;
  max-width: 100%;
  display: inline-block;
}

.image-400 {
  text-align: center;
  margin-top: 15px;
}

.image-400 img {
  width: 400px;
  max-width: 100%;
  display: inline-block;
}

.image-450 {
  text-align: center;
  margin-top: 15px;
}

.image-450 img {
  width: 450px;
  max-width: 100%;
  display: inline-block;
}

.image-500 {
  text-align: center;
  margin-top: 15px;
}

.image-500 img {
  width: 500px;
  max-width: 100%;
  display: inline-block;
}

.image-550 {
  text-align: center;
  margin-top: 15px;
}

.image-550 img {
  width: 550px;
  max-width: 100%;
  display: inline-block;
}

.image-600 {
  text-align: center;
  margin-top: 15px;
}

.image-600 img {
  width: 600px;
  max-width: 100%;
  display: inline-block;
}

.image-650 {
  text-align: center;
  margin-top: 15px;
}

.image-650 img {
  width: 650px;
  max-width: 100%;
  display: inline-block;
}

.image-700 {
  text-align: center;
  margin-top: 15px;
}

.image-700 img {
  width: 700px;
  max-width: 100%;
  display: inline-block;
}

.image-750 {
  text-align: center;
  margin-top: 15px;
}

.image-750 img {
  width: 750px;
  max-width: 100%;
  display: inline-block;
}
